<main>
  <h1>Ethan Swaidner</h1>
  <h2 id="job-title">Software Engineer</h2>
  <p>
    I'm passionate about building systems that empower people to create. Currently, I'm developing web apps at
    <a target="_blank" href="https://sram.com">SRAM</a>.
  </p>

  .section
  <h2 class="section-header">{s}</h2>
  <nav class="section-items" aria-label="{s}">
  .sectionend
  </nav>

  .article
  <a href="{s}.html" class="article-link">{s}</a>
  <div class="article-date">{s}</div>

  .project
  <div class="project-card">
    <div class="project-card-bg" style="background-image: url({s});"></div>
    <a class="project-card-content" href="{s}">
      <h3 class="project-card-name">{s}</h3>
      <p class="project-card-desc">{s}</p>
  .projectend
    </a>
  </div>
  <div></div>

.end
</main>
